<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test API</title>
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <header class="fixed-header fixed-top">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
            <h5 class="my-0 mr-md-auto font-weight-normal">Test 2</h5>
        </div>
    </header>

    <main role="main">
        <div class="px-3 py-1 mx-auto pt-4 mt-5 mb-4 text-center">
            <h3 class="display-5">Utilisation des API</h3>
            <p class="lead">Recuperation des données via une API</p>
        </div>

        <div class="card">
            <div class="card-header">
                <h2 class="card-title">TEST N2</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="table-header">
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Language</th>
                            </tr>
                        </thead>
                        <tbody id="list-articles">
                            <tr data-role="spinner">
                                <td colspan="3"><span class="d-inline-block w-100 text-center text-muted">
                                    <i class="fa fa-circle-o-notch fa-spin fa-4x"></i>
                                </span></td>
                            </tr>
                            <tr data-role="empty-list" class="d-none">
                                <td colspan="3"><span class="d-inline-block w-100 text-center text-muted">Liste vide</span></td>
                            </tr>
                            <tr class="d-none" data-role="template">
                                <td>{{id}}</td>
                                <td>{{title}}</td>
                                <td>{{language}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer pt-2 my-md-3 pt-md-3 border-top">
        <p class="text-center">&copy; Dimitric Sitchet Tomkeu - Aout 2021</p>
    </footer>

    <script src="assets/jquery.min.js"></script>
    <script src="assets/script.js"></script>

</body>

</html>