<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Dom</title>
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <header class="fixed-header fixed-top">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
            <h5 class="my-0 mr-md-auto font-weight-normal">Test 1</h5>
        </div>
    </header>

    <main role="main">
        <div class="px-3 py-1 mx-auto pt-4 mt-5 mb-4 text-center">
            <h3 class="display-5">Manipulation du DOM</h3>
            <p class="lead">Application CRUD</p>
        </div>

        <div class="card">
            <div class="card-header">
                <button class="btn btn-primary" onclick="addNewArticle()">
                    <i class="fa fa-plus-circle"></i> Ajouter un nouvel article
                </button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="table-header">
                            <tr>
                                <th>Catégorie</th>
                                <th>Nom de l'article</th>
                                <th>Prix</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="list-articles">
                            <tr data-role="empty-list">
                                <td colspan="4"><span class="d-inline-block w-100 text-center text-muted">Liste vide</span></td>
                            </tr>
                            <tr class="d-none" data-role="template">
                                <td>{{categorie}}</td>
                                <td>{{nom}}</td>
                                <td>{{prix}}</td>
                                <td data-elt-id="{{id}}">
                                    <button onclick="editArticle('{{id}}')" class="btn btn-info"><i class="fa fa-edit"></i></button>
                                    <button onclick="deleteArticle('{{id}}')" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <div class="modal fade" id="modal-article" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <form method="POST" class="modal-body">
                    <div class="form-group">
                        <label for="nom_article">Nom de l'article</label>
                        <input id="nom_article" class="form-control" type="text" name="nom_article" placeholder="Entrez le nom">
                        <span class="d-inline-block w-100 invalid-feedback text-hide">Entrez le nom de l'article</span>
                    </div>
                    <div class="form-group">
                        <label for="categorie_article">Catégorie</label>
                        <select name="categorie_article" id="categorie_article" class="form-control">
                            <option value="">-- Choisir --</option>
                            <option>Electroménager</option>
                            <option>Sport</option>
                        </select>
                        <span class="d-inline-block w-100 invalid-feedback text-hide">Choisissez la catégorie de l'article</span>
                    </div>
                    <div class="form-group">
                        <label for="prix_article">Prix de l'article</label>
                        <input id="prix_article" class="form-control" type="number" name="prix_article" placeholder="Entrez le prix">
                        <span class="d-inline-block w-100 invalid-feedback text-hide">Entrez le prix de l'article</span>
                    </div>

                    <br>
                    <div class="form-group">
                        <input type="hidden" class="hidden" value="add">
                        <button type="submit" class="btn btn-success btn-block">Enregister</button>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-delete-article" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">Supprimer cet article</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <b>Nom de l'article</b>: <span data-role="nom_article"></span>
                    <br>
                    <button type="submit" class="btn btn-danger btn-block">Supprimer</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer pt-2 my-md-3 pt-md-3 border-top">
        <p class="text-center">&copy; Dimitric Sitchet Tomkeu - Aout 2021</p>
    </footer>

    <script src="assets/jquery.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/script.js"></script>

</body>

</html>